* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Roboto', sans-serif;
}
section {
	margin: 0 auto;
	max-width: 1200px;
	width: 80%;
	padding: 20px;
}
aside {
	width: 100%;
	height: 500px;

}
.anchor {
	color: #41e4de;
	margin-right: 5px;
}
.divider {
	/*width: 100%;*/
	width: 150px;
	height: 3px;
	background-color: #41e4de;
	/*background-color: #eee;*/
	/*display: none;*/
}

/****************************************************/

/*User image and name*/

.post-author {
	width: auto;
	display: inline-block;
	/*margin: 10px 15px;*/
}
.post-author a {
	display: inline-block;
	font-weight: bold;
	/*color: #1ca7ea;*/
	color: #9a9a9a;
}
.post-author a:hover .post-author-name {
	/*text-decoration: underline;*/
	color: #737373;
}
.post-author-name {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	margin-left: 40px;
	transition: all .2s; 	
}
.post-author-avatar {
	height: 30px;
	width: 30px;
	background-position: center;
	background-size: cover;
	/*background-color: #d6d6d6;*/
	/*background-image: url('../img/user.png');*/
	background-image: url('../img//gradient-sea.jpg');
	border-radius: 50%;
	position: absolute;
}

/**********************************************************/

/*Date*/

.post-category {
	/*float: right;*/
	display: inline-block;
	/*display: none;*/
}
.post-category a {
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	color: #c1c1c1;
	transition: all .2s; 
}
.post-category a:hover {
	color: #9a9a9a;
}
.post-date {
	display: inline-block;
	color: #c1c1c1;
	font-size: 14px;
	margin-top: 3px;
	display: none;
}
.post-date p {
	display: inline-block;
}
.circle {
	/*background-color: #40e0d0;*/
	background-color: #ffdc5a;
	/*background-color: #1ca7ea;*/
	height: 10px;
	width: 10px;
	display: inline-block;
	border-radius: 50%;
	margin-right: 2px;
}

/**************************************************/

.page-top {
	background-position: center;
	background-size: cover;
	background-image: url(../img/gradient-sea.jpg);
	height: 200px;
	margin-bottom: 50px;
}

/******************************************************/

/*Card*/


.card-wrap {
	padding: 20px;
}
.card {
	/*overflow: hidden;*/
	/*min-height: 350px;*/
	height: auto;
	width: 100%;
	border-radius: 4px;
	position: relative;
}
.card-top {
	height: auto;
	padding: 12px 17px;
	padding-bottom: 10px;
	/*padding-bottom: 0px;*/
	/*display: none;*/
}
.card-author {
	width: auto;
	display: inline-block;
}
.card-author a {
	display: inline-block;
	font-weight: bold;
	/*color: #1ca7ea;*/
	color: #9a9a9a;
	text-decoration: none;
}
.card-author-avatar {
	height: 30px;
	width: 30px;
	background-position: center;
	background-size: cover;
	background-image: url('../img//gradient-sea.jpg');
	border-radius: 50%;
	position: absolute;
}
.card-author a p {
	margin-left: 40px;
}
.card-author a p.name {
	font-size: 14px;
	margin-top: 1px;
	height: 15px;
	line-height: 14px;
	transition: all .2s;
}
.card-author a:hover p.name {
	color: #737373;
}
.card-author a p.date {
	font-size: 13px;
	line-height: 13px;
	font-weight: normal;
	color: #c1c1c1;
	height: 13px;
}
.card-options {
	position: absolute;
	right: 0px;
	top: 0px;
	cursor: pointer;
	width: 50px;
	height: 53px;
	display: inline-block;
	text-align: center;
	line-height: 50px;
	user-select: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.card-options span.options-icon {
	opacity: .25;
	transition: .2s;
}
.card-options:hover span.options-icon {
	opacity: .6;
}
.card-dropdown {
	min-width: 80px;
	height: auto;
	border-radius: 4px;
	background-color: white;
	position: absolute;
	top: 40px;
	right: 10px;
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
	transition: .2s;
}
.card-dropdown.show {
	visibility: visible;
	opacity: 1;
	z-index: 9999;
}
.card-dropdown a {
	display: block;
	height: 40px;
	min-width: 80px;
	width: auto;
	text-decoration: none;
	padding: 0px 15px;
	color: #adadad;
	font-weight: bold;
	line-height: 40px;
}
.card-dropdown a:hover {
	background-color: #f1f1f1;
}
.card-cover {
	height: 170px;
	/*background-color: #eee;*/
	background-position: center;
	background-size: cover;
	background-image: url(../img/wallpaper-1bae1.jpg);
	/*display: none;*/
	/*margin: 0px 20px;*/
}
.card-info {
	/*min-height: 145px;*/
	height: auto;
	padding: 15px 17px;
	padding-bottom: 5px;
	position: relative;
}
.card-controll {
	/*border-top: 1px solid #d6d6d6;*/
	height: 35px;
}
.card-controll div button {
	cursor: pointer;
	color: #c1c1c1;
	font-weight: bold;
	font-size: 16px;
	background-color: transparent;
	outline: none;
	border: none;
	border-radius: 0px;
}
.card-title {
	padding: 10px 0px;
}
.card-title h2 {
	font-size: 24px;
	display: inline-block;
}
.card-title h2 a {
	/*color: #707070;*/
	color: grey;
	font-weight: bold;
	text-decoration: none;
	transition: all .2s;
}
.card-title h2 a:hover {
	/*text-decoration: underline;*/
	color: #41e4de;
}
.card-tags {
	width: 100%;
}
.tag {
	font-size: 14px;
	display: inline-block;
	min-width: 40px;
	padding: 0px 7px;
	height: 22px;
	text-align: center;
	line-height: 22px;
	color: grey;
	font-weight: bold;
	border-radius: 3px;
	margin: 3px 3px 3px 0px;
	background-color: #eee;
	/*background-color: #d8d8d8;*/
	/*background-color: #40e0d0;*/
	user-select: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	transition: all .2s;
}
.tag:hover {
	background-color: #d6d6d6;
}
.tag a {
	color: inherit;
	text-decoration: none;
}
.tag a:hover {
	text-decoration: none;
}


.post-like, .post-view, .post-comment {
	display: inline-block;
	height: 30px;
	min-width: 40px;
	width: auto;
	transition: all .2s;
}
.post-like span.count, .post-view span.count, .post-comment span.count {
	color: #c1c1c1;
	font-size: 14px;
	font-weight: bold;
}
.post-like button.post-like-wrap {
	margin: 5px 17px;
}
.post-comment {
	cursor: pointer;
	height: 30px;
}
.post-comment a.post-comment-wrap {
	margin-left: 15px;
	display: inline-block;
	height: 30px;
	width: 40px;
	text-decoration: none;
	color: #c1c1c1;
}
.post-comment span.comment-icon {
	opacity: .25;
	transition: .2s;
}
.post-comment:hover span.comment-icon {
	opacity: .6;
}
.post-like {
	cursor: pointer;
	float: right;
}
.post-like span.like-icon {
	transition: all .15s ease-in-out;
	transform: scale(1);
	opacity: 1;
}
.post-like:hover span.like-icon{
	transition: all .15s ease-in-out;
}
.post-like.presed span.like-icon {
	transition: all .15s ease-in-out;
	transform: scale(1.5);
	opacity: 0;
}
.post-like.liked span.like-icon {
	transition: all .15s ease-in-out;
	background-image: url('../img/like-active.png');
}
.post-view {
	/*float: right;*/
	margin: 5px 17px;
	margin-right: 0px;
	height: 17px;
}

/*****************************************/

.navigation-top, .navigation-left {
	z-index: 9999;
}
.navigation-top {
	height: 80px;
	width: 100%;
	background-color: white;
	position: fixed;
}
.navigation-links {
	/*border: 1px solid black;*/
	height: 80px;
	width: 80%;
	margin: 0 auto;
	padding: 0px 20px;
}
.logo {
	display: inline-block;
	height: 80px;
	width: auto;	
	margin-left: 10px;
	font-size: 18px;
	line-height: 80px;
}
.logo a {
	color: #40e0d0;
	text-decoration: none;
}
.desktop-nav {
	display: inline-block;
	height: 80px;
	width: calc(100% - 153px);
	/*background-color: #eee;*/
	float: right;
	padding: 0px 20px;
}
.desktop-nav ul li {
	display: inline-block;
}
.desktop-nav .desktop-nav-link {
	display: inline-block;
	font-size: 20px;
	text-decoration: none;
	color: #9a9a9a;
	background-color: white;
	height: 80px;
	line-height: 80px;
	padding: 0px 15px;
	transition: .2s ease-in-out;
} 
.desktop-nav .desktop-nav-link:hover {
	color: #737373;
}

.desktop-nav .desktop-nav-link.active {
	border-bottom: 5px solid #40e0d0;
	color: #737373;
}


.mobile-nav {
	display: none;
}

.main-content {
	padding-top: 80px;
	/*background-color: #f1f1f1;*/
	height: 4000px;
	max-width: 1440px;
}
.content-header {
	background-position: center;
	background-size: cover;
	background-image: url(../img/gradient-sea.jpg);
	height: 400px;
	width: 100%;
	display: none;
} 
.content-controll {
	height: 100px;
	width: 100%;
} 
.content {
	/*border: 1px solid grey;*/
	width: 80%;
	margin: 0 auto;
	z-index: 0;
	height: auto;
	/*border: 1px solid grey;*/
}

/*********************POST**********************/

.post-wrapper {
	background-color: white;
}
.post-cover {
	width: 100%;
	height: 350px;
	/*background-image: url(../img/wallpaper-1bae1.jpg);*/
	background-image: url('../img/wallpaper-1bae1.jpg');
	background-position: center;
	background-size: cover;
	/*display: none;*/
}
.post {
	height: auto;
	/*border-left: 1px solid #eee;*/
	/*border-right: 1px solid #eee;*/
}
.post-header {
	padding: 40px 30px 40px 30px;
}
.post-header .post-author {
	height: 50px;
}
.post-header .post-author a {
	text-decoration: none;
}
.post-header .post-author a p {
	margin-left: 60px;
}
.post-header .post-author a p.name {
	margin-top: 7px;
	transition: all .2s;
}
.post-header .post-author a p.date {
	font-size: 14px;
	font-weight: normal;
	color: #c1c1c1;
	height: 18px;
}
.post-header .post-author-avatar {
	height: 50px;
	width: 50px;
}
.post-header .post-author:hover .name {
	color: #737373;
}

.post-header .post-category {
	float: right;
	margin-top: 7px;
}
.post-title {
	margin-top: 30px;
	font-size: 35px;
	color: grey;
}
.post-tags {
	margin-top: 10px;
	/*display: none;*/
}
.post-tags .icon {
	margin: 0px 8px -4px 8px;
}
.post-tags .icon.tag-icon {
	opacity: .25;
}
.post-body {
	padding: 0px 30px 30px 30px;
}
.post-body .divider {
	margin-bottom: 30px;
}
.post-body h2,
.post-body h3 {
	/*color: #c1c1c1;*/
	color: #adadad;
	/*color: #41e4de;*/
	margin: 20px 0px;
	/*border-left: 3px solid #41e4de;*/
	/*padding-left: 20px;*/
}
.post-body h2 {
	font-size: 28px;
}
.post-body h3 {
	font-size: 24px;
}
.post-body p {
	color: #737373;
	font-size: 18px;
	line-height: 28px;
}
.post-body img {
	width: 100%;
	margin: 30px 0px;
}
.post-body a {
	color: #41e4de;
	text-decoration: none;
}
.post-body a:hover {
	text-decoration: underline;
}
.post-body ul {
	margin: 30px 0px 30px 40px;
}
.post-body ul li {
	font-size: 20px;
	margin: 10px 0px;
	color: #41e4de;
}
.post-body ul li span {
	color: #737373;
}





.post-controll {
	height: 50px;
}
.post-controll div button {
	cursor: pointer;
	color: #c1c1c1;
	font-weight: bold;
	font-size: 16px;
	background-color: transparent;
	outline: none;
	border: none;
	border-radius: 0px;
}
.post-controll .post-like {
	float: right;
	margin-right: 25px;
	margin-top: 10px;
}
.post-controll .post-view {
	float: right;
	margin-right: 0px;
	margin-top: 15px;
}
.post-controll .post-like span.count, .post-controll .post-view span.count {
	font-size: 16px;
}
.post-controll .post-like span.icon, .post-controll .post-view span.icon {
	margin-bottom: -2px;
}
.post-controll .divider {
	display: inline-block;
	margin-left: 30px;
	margin-top: 22px;
}
.post-bottom {
	height: auto;
	padding: 30px;
}
.post-author-info {

}
.post-author-info .avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 0px auto;
	background-position: center;
	background-size: cover;
	/*background-image: url('../img/user.png');*/
	background-image: url('../img//gradient-sea.jpg');
}
.post-author-info .author-info {
	width: 80%;
	text-align: center;
	font-style: italic;
	color: #c1c1c1;
	margin: 15px auto; 
}
.post-author-info .info {
	text-align: center;
	margin-top: 20px;
}
.post-author-info .info .name {
	display: inline-block;
}
.post-author-info .info .name a {
	display: inline-block;
	font-weight: bold;
	color: #9a9a9a;
	transition: all .2s;
	text-decoration: none;
}
.post-author-info .info .name a:hover {
	color: #737373;
}
.post-author-info .info .rating {
	display: inline-block;
	background-color: #eee;
	color: grey;
	font-weight: bold;
	border-radius: 4px;
	padding: 3px 5px;
	margin-left: 5px;
}
.post-author-info .follow-button {
	text-align: center;
	margin-top: 20px;
}


.post-sidebar {
	/*border: 1px solid black;*/
	color: grey;
	padding: 35px 20px 20px 20px;
	height: auto;
	/*border: 1px solid #eee;*/
}
.post-sidebar h2 {
	margin-bottom: 20px;
}
.post-sidebar-content {
	/*min-height: 300px;*/
}
.related-post {
	height: 60px;
	/*border-radius: 4px;*/
	margin-bottom: 15px;
	overflow: hidden;
}
.related-post-cover {
	width: 60px;
	height: 60px;
	display: inline-block;
	background-position: center;
	background-size: cover;
	background-image: url('../img/shameless7.jpg');
	border-radius: 4px;
/*	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;*/
}
.related-post-title {
	height: 60px;
	width: calc(100% - 60px);
	display: inline-block;
	float: right;
	padding-left: 10px;
	transition: all .2s;
	display: table;
}
.related-post-title h3 {
	display: table-cell;
	height: 60px;
	vertical-align: middle;
}
.related-post a .related-post-title {
	color: #adadad;
	text-decoration: none;
}
.related-post:hover .related-post-title {
	color: #41e1de;
}




/******Comments*******/

.post-comments {
	/*border: 1px solid #eee;*/
	padding: 10px 30px;
}
.post-comments h2 {
	font-size: 28px;
	color: grey;
}
.post-comments .comment-form form {
	padding: 20px 0px;
}
.post-comments .comment-form form textarea {
	width: 100%;
	outline: none;
	border: 2px solid #eee;
	border-radius: 4px;
	padding: 10px;
	font-size: 18px;
	color: #737373;
	/*transition: border .2s;*/
	height: 100px;
	/*height: auto;*/
	resize: none;
	transition: all .3s;
}
.post-comments .comment-form form textarea:focus {
	border: 2px solid #41e1de;
	/*height: 300px;*/
}
.post-comments .comment-form form .button {
	margin-top: 20px;
}
.comments-controll {
	display: inline-block;
	/*background-color: #eee;*/
	height: auto;
	float: right;
}
.comment-controll-dropdown {
	display: inline-block;
	position: relative;
	/*background-color: #eee;*/
	color: #adadad;
	font-weight: bold;
	cursor: pointer;
	/*min-width: 100px;*/
	width: auto;
	height: 34px;
	/*border-left: 3px solid #41e1de;*/
}
.comment-controll-dropdown .dropdown-selected {
	display: inline-block;
	/*min-width: 60px;*/
	width: auto;
	height: 34px;
	line-height: 34px;
	/*padding-left: 10px;*/
}
.comment-controll-dropdown .dropdown-arrow {
	display: inline-block;
	width: 28px;
	height: 34px;
	float: right;
	border-radius: 50%;
	background-position: center;
	background-size: 16px;
	background-image: url('../img/right-arrow.png');
	background-repeat: no-repeat;
	transition: all .2s ease-in-out;
	transform: rotate(0deg);
}
.comment-controll-dropdown .dropdown-arrow.rotated {
	transform: rotate(90deg);
	transition: all .2s ease-in-out;
}
.comment-controll-dropdown .dropdown-options {
	top: 34px;
	right: 0px;
	position: absolute;
	transition: all .2s ease-in-out;
	opacity: 0;
	visibility: hidden;
	border-radius: 4px;
	z-index: 9999;
}
.comment-controll-dropdown .dropdown-options.show {
	transition: all .2s ease-in-out;
	opacity: 1;
	visibility: visible;
}
.comment-controll-dropdown .dropdown-options .dropdown-option {
	display: block;
	min-width: 80px;
	width: auto;
	height: 40px;
	line-height: 40px;
	padding: 0px 15px;
}
.comment-controll-dropdown .dropdown-options .dropdown-option:hover {
	background-color: #f1f1f1;
}

.comments {
	height: auto;
	padding-top: 30px;
}
.comments h2 {
	display: inline-block;
	font-size: 28px;
	color: grey;	
/*	height: 40px;
	line-height: 40px;*/
	padding-bottom: 25px;
}
.comment {
	min-height: 100px;
	height: auto;
	/*border: 1px solid #eee;*/
	border-radius: 4px;
	margin-bottom: 15px;
}
.comment-header {
	height: 40px;
	/*padding: 10px 15px;*/
	position: relative;
}
.comment-author {
	width: auto;
	display: inline-block;
}
.comment-author a {
	display: inline-block;
	font-weight: bold;
	/*color: #1ca7ea;*/
	color: #9a9a9a;
	text-decoration: none;
}
.comment-author-avatar {
	height: 40px;
	width: 40px;
	background-position: center;
	background-size: cover;
	background-image: url('../img//gradient-sea.jpg');
	border-radius: 50%;
	position: absolute;
}
.comment-header .comment-author a p {
	margin-left: 50px;
}
.comment-header .comment-author a p.name {
	font-size: 16px;
	line-height: 16px;
	height: 16px;
	margin-top: 5px;
	transition: all .2s;
}
.comment-header .comment-author a:hover p.name {
	color: #737373;
}
.comment-header .comment-author a p.date {
	font-size: 14px;
	font-weight: normal;
	line-height: 14px;
	color: #c1c1c1;
	height: 14px;
}
.comment-options {
	position: absolute;
	right: 0px;
	top: 0px;
	cursor: pointer;
	width: 30px;
	height: 40px;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	user-select: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.comment-options span.options-icon {
	opacity: .25;
	transition: .2s;
	margin-top: 12px;
}
.comment-options:hover span.options-icon {
	opacity: .6;
}
.comment-dropdown {
	min-width: 80px;
	height: auto;
	border-radius: 4px;
	background-color: white;
	position: absolute;
	top: 40px;
	right: 0px;
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
	transition: .2s;
}
.comment-dropdown.show {
	visibility: visible;
	opacity: 1;
	z-index: 9999;
}
.comment-dropdown a {
	display: block;
	height: 40px;
	min-width: 80px;
	width: auto;
	text-decoration: none;
	padding: 0px 15px;
	color: #adadad;
	font-weight: bold;
	line-height: 40px;
}
.comment-dropdown a:hover {
	background-color: #f1f1f1;
}
.comment-body {
	min-height: 40px;
	height: auto;
/*	padding-top: 15px;
	padding-bottom: 10px;*/
	padding: 10px 20px 0px 50px;
}
.comment-body p {
	color: #737373;
	font-size: 16px;
	line-height: 24px;
}
.comment-controll {
	height: 43px;
	border-bottom: 2px solid #eee;
}
.comment-controll .comment-reply-wrapper {
	display: inline-block; 
	height: 40px;
	width: auto;
	padding-top: 5px;
	cursor: pointer;
	text-decoration: none;
}
.comment-controll .comment-reply-wrapper:hover .comment-reply-icon {
	opacity: 1;
}
.comment-controll .comment-reply-icon {
	display: inline-block;
	height: 30px;
	width: 30px;
	background-size: 20px;
	background-position: 10px 5px;
	background-image: url('../img/share-option.png');
	background-repeat: no-repeat;
	opacity: .5;
	transition: all .2s;
}
.comment-controll .comment-reply {
	height: 30px;
	width: 30px;
	background-position: center;
	background-size: cover;
	/*background-color: #d6d6d6;*/
	/*background-image: url('../img/user.png');*/
	background-image: url('../img//gradient-sea.jpg');
	border-radius: 50%;
	display: inline-block;
}
.comment-controll div button {
	cursor: pointer;
	color: #c1c1c1;
	font-weight: bold;
	font-size: 16px;
	background-color: transparent;
	outline: none;
	border: none;
	border-radius: 0px;
}
.comment-controll .comment-like {
	display: inline-block;
	float: right;
}
.comment-controll .comment-like .post-like-wrap {
	margin: 10px 10px;
}



.forum {
	margin-left: 350px;
	padding: 40px;
}
.navigation-left {
	height: 100vh;
	width: 350px;
	background-color: white;
	top:80px;
	position: fixed;
	z-index: 0;
	display: none;
}
.topic {
	height: 150px;
	width: 100%;
	border-radius: 4px;
	border-left: 5px solid #ffdc5a;
}





/*******************************************/

@media screen and (max-width: 1200px) { 
	
	section {
		width: 100%;
	}
	.content {
		width: 100%;
	}

}

@media screen and (max-width: 960px) { 

}

@media screen and (max-width: 780px) { 
	section {
		padding: 5px;
	} 
	[class*='col-'] {
	  	padding: 5px;
	}
	.col-3 { width: 100%; }
	.col-4 { width: 100%; }
	.col-8 { width: 100%; }
	.col-9 { width: 100%; }
	.logo {
		display: none;
	}
	.navigation-top {
		height: 60px;
	}
	.main-content {
		padding-top: 60px;
	}
	.divider {
		width: 100px;
	}
	.card-wrap {
		padding: 10px;
	}
	.post {
		width: 100%;
		border: none;
	}
	.post-cover {
		height: 400px;
	}
	.post-title {
		/*margin-top: 25px;*/
	}
	.post-header {
		padding: 25px 15px 30px 15px;
	}
	.post-body {
		padding: 0px 15px 25px 15px;
	}
	.post-body .divider {
		margin-bottom: 25px;
	}
	.post-controll .post-like {
		margin-right: 5px;
	}
	.post-controll .post-view {
		margin-right: 0px;
		float: right;
	} 
	.post-controll .divider {
		margin-left: 15px;
	}
	.post-bottom {
		padding: 30px 15px;
	}
	.post-sidebar {
		padding: 0px 15px;
	}
	.post-comments {
		padding: 0px 15px;
	}
}
@media screen and (max-width: 530px) { 
	.desktop-nav {
		display: none;
	}

	.post-cover {
		height: 200px;
	}
	.post-header .post-author {
		height: 40px;
	}
	.post-header .post-author a p {
		margin-left: 50px;
	}
	.post-header .post-author a p.name {
		margin-top: 3px;
	}
	.post-header .post-author-avatar {
		height: 40px;
		width: 40px;
	}
	.post-title {
		font-size: 18px;
	}
	.post-body h2,
	.post-body h3 {
		margin: 15px 0px;
	}
	.post-bottom {
		padding: 20px 15px;
	}
	.navigation-left {
		display: none;
	}
	.forum {
		margin: 0;
		padding: 15px;
	}
}