* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	background-color: #f1f9fb;
	font-family: 'Roboto', sans-serif;
}
section {
	padding: 20px;
}
.post-author {
	width: auto;
	display: inline-block;
	margin: 15px 15px;
}
.post-author a {
	display: inline-block;
	font-weight: bold;
	color: #1ca7ea;
}
.post-author a:hover .post-author-name {
	text-decoration: underline;
}
.post-author-name {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	margin-left: 40px; 	
}
.post-author-avatar {
	height: 30px;
	width: 30px;
	background-position: center;
	background-size: cover;
	background-color: #ffd232;
	background-image: url('../img/user.png');
	border-radius: 50%;
	position: absolute;
}
.card-options {
	position: absolute;
	right: 0px;
	cursor: pointer;
	width: 50px;
	height: 60px;
	display: inline-block;
	text-align: center;
	line-height: 60px;
}
.card-options:hover span.options-icon {
	background-image: url('../img/more (1).png');
}
.post-date {
	color: #c1c1c1;
	font-size: 14px;
	font-weight: bold;
}


.page-top {
	background-position: center;
	background-size: cover;
	background-image: url(../img/gradient-sea.jpg);
	height: 200px;
	margin-bottom: 50px;
}
.card {
	overflow: hidden;
	/*min-height: 350px;*/
	height: auto;
	width: 100%;
	border-radius: 4px;
}
.card-top {
	height: auto;
	/*padding: 15px;*/
	position: relative;
}
.card-cover {
	height: 170px;
	/*background-color: #40e0d0;*/
	background-position: center;
	background-size: cover;
	background-image: url(../img/front-end-image.jpg);
}
.card-info {
	/*min-height: 145px;*/
	height: auto;
	padding: 15px;
	position: relative;
}
.card-controll {
	border-top: 1px solid #d6d6d6;
	/*height: 41px;*/
	/*padding: 12px 15px;*/
}
.card-controll div a {
	text-decoration: none;
	color: #c1c1c1;
}
.card-title {
	padding: 13px 0px;
	/*background-color: red;*/
}
.card-title h2 {
	font-size: 1.8em;
}
.card-title h2 a {
	color: #707070;
	/*color: black;*/
	font-weight: bold;
	text-decoration: none;
}
.card-title h2 a:hover {
	text-decoration: underline;
}
.card-tags {
	width: 100%;
}
.tag {
	font-size: 14px;
	display: inline-block;
	min-width: 40px;
	padding: 0px 7px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	color: white;
	border-radius: 3px;
	margin-right: 3px;
	/*background-color: #bf3eff;*/
	/*background-color: #1ca7ea;*/
	background-color: #40e0d0;

}
.tag:hover {
	
}
.tag a {
	color: inherit;
	text-decoration: none;
}
.tag a:hover {
	text-decoration: none;
}


.post-like, .post-view, .post-comment {
	display: inline-block;
	height: 48px;
	min-width: 40px;
	width: auto;
	transition: all .2s;
	color: #c1c1c1;
	font-weight: bold;
	/*font-size: 14px;*/
}
.post-like span.post-like-wrap, .post-comment span.post-comment-wrap {
	display: inline-block;
	margin: 15px;
}
.post-comment {
	cursor: pointer;
	float: right;
}
.post-comment:hover span.comment-icon {
	background-image: url('../img/chat.png');
}
.post-like {
	transition: .3s;
	cursor: pointer;
}
.post-like:hover span.like-icon{
	background-image: url('../img/like (1).png');
}
.post-view {
	float: right;
	margin: 15px;
	height: 17px;
	/*opacity: .7;*/
}

@media screen and (max-width: 780px) { 
	section {
		padding: 5px;
	} 
	.col-3 { width: 100%; }
}
